<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sirius.mybatis.mapper.GoodsSpecificationMapper">
	<resultMap type="com.sirius.entity.query.GoodsSpecificationQuery"
		id="GoodsSpecificationQuery">
		<id column="id" property="id" />

	</resultMap>

	<!--商品详情列表 -->
	<select id="dataContent" resultType="com.sirius.entity.GoodsSpecification">
		select * from
		goods_specification
		where goods_id=#{goodsId}
	</select>

	<!-- 商品数量 -->
	<select id="dataCountContent" resultType="java.lang.Integer">
		select count(1) from
		goods_specification
		where goods_id=#{goodsId}
	</select>


	<insert id="insertList">
		insert into goods_specification(goods_id,quantity,color,size)
		<foreach collection="list" item="item" separator="," open="values"
			close="">
			(#{item.goodsId},#{item.quantity},#{item.color},#{item.size})
		</foreach>
	</insert>

	<select id="getById" resultType="com.sirius.entity.GoodsSpecification">
		select * from
		goods_specification where id=#{0}
	</select>

	<!-- 添加商品的尺寸、颜色、数量 -->
	<insert id="createGoods">
		insert into goods_specification
		(size,color,quantity,sku,goods_id)
		value (#{size},#{color},#{quantity},#{sku},#{goodsId})
	</insert>

	<!-- 修改商品的详细信息 -->
	<update id="updateGoods">
		update goods_specification
		set size=#{size} ,
		color=#{color},
		quantity=#{quantity}
		where goods_id=#{goodsId}
		and id=#{id}
	</update>

<!-- 根据sku查询商品 -->
	<select id="specificationBySku" resultType="com.sirius.entity.query.GoodsSpecificationQuery">
		select goods_specification.sku,goods_specification.color,
		goods_specification.size,
		(select img_url from goods_img 
		where goods_img.goods_id=goods_specification.goods_id limit 1) img_url,
		(select price from goods where id=goods_specification.goods_id) price,
		(select early_warning from `user` where id=#{id}) warningNum 
		from goods_specification 
		where sku in 
		<foreach collection="param" open="(" separator="," close=")" item="item">
			#{item}
		</foreach>
	</select>
	
	<!-- 根据条件搜索未绑定磁条的商品 -->
	<select id="scannerSpecificationList" resultType="com.sirius.entity.query.GoodsSpecificationQuery">
		select 
		goods.price,
		goods_specification.sku,
		goods_specification.size,
		goods_specification.color,
		(select img_url from goods_img where goods_img.goods_id=goods.id limit 1) img_url,
		(select count from order_content where order_id=(select id from `order`where order_no=#{orderId}) 
		and goods_specification_id = goods_specification.id ) cou 
		from goods_specification
		left join goods on
		(goods_specification.goods_id=goods.id) where 
		goods_specification.type=0 and 
		goods.wholesaler_id=#{userId}  
		<if test="orderId !=null">
			and goods_specification.id in (
			select goods_specification_id 
			from order_content where wholesaler_id=1 
			and order_id=(select id from `order` 
			where order_no=#{orderId} and status=#{status})
			) 
			<!-- order_content和磁条关联表 -->
			and goods_specification.id not in (
			select goods_specification_id from order_content_stripe 
			where goods_specification_id in (select id from 
			goods_specification where sku in 
			<foreach collection="sku" open="(" separator="," close=")" item="s">
				#{s}
			</foreach>
			) and  order_id =(select id from `order` 
			where order_no=#{orderId})
 			)
		</if>
		limit #{start},#{size}
	</select>
	<select id="scannerSpecification" resultType="com.sirius.entity.query.GoodsSpecificationQuery">
		select 
		goods.price,
		goods_specification.sku,
		goods_specification.size,
		goods_specification.color,
		(select img_url from goods_img where goods_img.goods_id=goods.id limit 1) img_url,
		(select count from order_content where order_id=(select id from `order`where order_no=#{orderId}) 
		and goods_specification_id = goods_specification.id ) cou 
		from goods_specification
		left join goods on
		(goods_specification.goods_id=goods.id) where 
		goods_specification.type=0 and 
		goods.wholesaler_id=#{userId}  
		<if test="orderId !=null">
			and goods_specification.id in (
			select goods_specification_id 
			from order_content where wholesaler_id=1 
			and order_id=(select id from `order` 
			where order_no=#{orderId} and status=#{status})
			) 
		</if>
		limit #{start},#{size}
	</select>

</mapper>