<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sirius.mybatis.mapper.ScannerMapper">
	<!-- 根据时间获取时间段的销售额和数量 -->
	<select id="getByPayTime" resultType="com.sirius.entity.query.OrderContentQuery">
		select sum(money) yesterdaytotalMoney,count(1) yesterdayGoodsNum,
		count(1) totalNum
		from order_content 
		where wholesaler_id=(
		select id from `user` where token=#{token}) 
		and order_id in(select id from `order` 
		where 1 
		<if test="date !=null">
			and pay_time in
			<foreach collection="date" open="(" separator="," close=")" item="d">
				#{d}
			</foreach>
		</if>
		)
	</select>
</mapper>